#history{


    .swiper {
        margin-top: 20px;
        width: 100%;
        height: 95%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: $black;
        display: flex;
        @include Flexible($justify:center,$items:center);
      }
  
      .swiper-slide img {
        display: block;
       @extend %main_imgpart;
        height: 80%;
      }
      h4{
        color: $grayscale-grayscale-10;
font-family: $default_font_family;
font-size: $border_radius;
font-style:$font_style;
font-weight:$font_weight;
line-height: 32px; /* 133.333% */
letter-spacing: 0.12px;
      }
      h5{
        color: $grayscale-grayscale-10;
margin-top: 10px;
/* Large/Bold */
font-family: $default_font_family;
font-size: 18px;
font-style: $font_style;
font-weight:$font_weight;
line-height: 26px; /* 144.444% */
letter-spacing: 0.09px;
      }
      .history_part{
.length{
    width: 232px;
height: 8px;
position: absolute;
left: 16px;
top: 167px;
cursor: pointer;
margin-top: -2px;
}
      .history_part_img{
        width: 264px;
        height: 183px;
        border-radius: 16px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.16) 100%), url(<path-to-image>), rgb(0, 0, 0) 50% / cover no-repeat;
img{
   @extend %main_imgpart;
}
      }
      .history_part_info{
        margin-top: 5px;
        width: 253px;
height: 24px;
b{
    overflow: hidden;
color:$grayscale-grayscale-10;
text-overflow: ellipsis;
whitespace: nowrap;

/* Medium/Bold */
font-size: 16px;
@extend %some;
font-weight: 700;
line-height: 24px; /* 150% */
letter-spacing: 0.08px;
}
      }
      }
}



.navbar {
  display:none;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #B43FEB;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
 
 

}

.bar {
  width: 25px;
  height: 4px;
  background-color:$black;
  margin: 3px 0;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: $grayscale-grayscale-10;
  font-weight: bold;
  font-size: 18px;
}

#card_items .download_film .download_film_time .completed_part svg{
  margin-top: -4px;
}


