
 .swiper {

    border: $border_none;
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: $black;
    display: flex;
   @include Flexible($justify:center,$items:center);
  }

  .swiper-slide img {
    display: block;
    @extend %main_imgpart;
  }
  .slayt{
    display: flex;
    .number{
        color: $grayscale-grayscale-10;
  margin-top: 20px;
/* Heading/H2/SemiBold */
font-family: $default_font_family;
font-size: 56px;
font-style:$font_style;
font-weight:$font_weight600;
line-height: 64px; /* 114.286% */
letter-spacing: 0.28px;
    }
  
    .slayt_img{
        justify-content: start;
        width: 112px;
height: 137px;
border-radius: 16px;
background:$black;
 img{
@extend %main_imgpart;
    border: $border_none;
    padding: 5px;
 }
    }
    
    .slayt_info{
        
        .button_p{
            color: $grayscale-grayscale-40;
       margin-left: 10px;
            /* SemiBold/Medium */
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 166.667% */
            letter-spacing: 0.06px;
            display: flex;
            padding: 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            color: $grayscale-grayscale-40;
  background-color:$black;
/* SemiBold/Medium */
font-family: $default_font_family;
font-size: 12px;
font-style: $font_style;
font-weight: $font_weight500;
line-height: 20px; /* 166.667% */
letter-spacing: 0.06px;
border-radius: 8px;
border: 1px solid $additional-colors-dark-smooth;
        }
        h2{
            margin-top: 10px;
            width: 146px;
height: 24px;
overflow: hidden;
color: $grayscale-grayscale-10;
text-overflow: ellipsis;


/* Medium/Bold */
font-family: $default_font_family;
font-size: 16px;
font-style: $font_style;
font-weight:$font_weight;
line-height: 24px; /* 150% */
letter-spacing: 0.08px;
        }
        svg{
          
            margin-left: -65px;
            width: 16px;
height: 16px;
flex-shrink: 0;
        }
        span{
 
@extend %span;
font-size: 12px;
line-height: 20px; /* 166.667% */
letter-spacing: 0.06px;
        }
        b{
            color:$grayscale-grayscale-10;
font-feature-settings: 'clig' off, 'liga' off;
font-family: $default_font_family;
font-size: 16px;
font-style: $font_style;
font-weight:$font_weight;
line-height: $font_style;
letter-spacing: 0.12px;
        }
    }
    .films_type{
        margin-top: 10px;
    }
    .films_star{
        margin-top: 10px;
        margin-left: -8px;
    }
  }
  #films{
    h1{
    @extend %h2;
margin-top: -5px;

line-height: 32px; /* 133.333% */
letter-spacing: 0.12px;
    }
}

#action{
h2{
@extend %h2;
margin-top: 10px;
}
.action_part{
    .action_movie{
        width: 264px;
height: 183px;
img{
  @extend %main_imgpart;
}
    }
}
.action_movie_info{
    h3{
        color: var(--grayscale-grayscale-10, #F9F9F9);
         justify-content: start;
         display: flex;
/* Medium/Bold */
font-family: Inter;
font-size: 16px;
font-style: $font_style;
font-weight:$font_weight;
line-height: 24px; /* 150% */
letter-spacing: 0.08px;
    }
    .action_movie_items{
        margin-top:-12px;
        display: flex;
        justify-content: start;
        svg{
            width: 18px;
height: 18px;
        }
        span{
            color: $grayscale-grayscale-10;

/* SemiBold/SemiBold */
font-family: $default_font_family;
font-size: 12px;
font-style:$font_style;
font-weight:$font_weight600;
line-height: 20px; /* 166.667% */
letter-spacing: 0.06px;
        }
        b{
            color: $grayscale-grayscale-70;

/* SemiBold/Medium */
font-family: $default_font_family;
font-size: 12px;
font-style: $font_style;
font-weight: $font_weight500;
line-height: 20px; /* 166.667% */
letter-spacing: 0.06px;
        }
    }
}
}
header{

    .navbar {
            margin-left: 760px;
        background-color: $black;
        color: $grayscale-grayscale-10;
        display: flex;
       @include Flexible($justify:end, $items:end);
        padding-top: 34px;
      }
      .nav-branding {
        font-size: 20px;
        text-decoration: none;
        color: $grayscale-grayscale-10;
      }
      .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: $black;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        transition: left 0.3s ease-in-out;
      }
      .nav-menu.active {
        left: 0;
      }
      .nav-item {
        margin: 16px 0;
        a{
            color: #B43FEB;
        }
      }
      .hamburger {
        display: none;
        cursor: pointer;
      }
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background-color: $violet_main_color;
      }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
}

#iframe{
    margin-left: 30px;
    margin-top: 5px;
    width: 775px;
    iframe{
      width: 100%; 
height: 350px;
flex-shrink: 0;
border-radius: 24px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
border: none;
box-sizing: border-box;
    }
}
#recommend_info{
    margin-left: 30px;
    margin-top: 10px;
    button{
        @extend %span;
    color: $grayscale-grayscale-40;
line-height: 20px; /* 166.667% */
letter-spacing: 0.06px;
display: flex;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
background-color: $black;
border: 1px solid $additional-colors-line-dark;
}
h3{
    @extend %h3;
    width: 310px;
 margin-left: -10px;
font-size: 24px;
line-height: 32px; /* 133.333% */
letter-spacing: 0.12px;
}
svg{
    width: 16px;
height: 16px;
flex-shrink: 0;
margin-left: -1px;
}
span{
   @extend %span;
line-height: 20px; /* 166.667% */
letter-spacing: 0.06px;
}
b{
    color: $grayscale-grayscale-10;
font-feature-settings: 'clig' off, 'liga' off;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.12px;
}
.download{
    margin: 5px;
    display: inline-flex;
padding: 10px 12px;
justify-content: center;
align-items: center;
border-radius: 16px;
border: 1px solid $additional-colors-line-dark;
background: $bg_dark;
color: $grayscale-grayscale-10;
font-family:$default_font_family;
font-size: 18px;
font-style: $font_style;
font-weight: 600;
line-height: 26px; 
letter-spacing: 0.09px;
 svg{
    width: 24px;
height: 24px;
 }
}
.like{
    svg{
        width: 24px;
        height: 24px;
    }
    display: inline-flex;
    padding: 10px 12px;
    margin: 5px;
    margin-top: -3px;
  justify-content: center;
  align-items: center;
    gap: 8px;
    border-radius: 16px;
background: $error;
color: $grayscale-grayscale-10;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 144.444% */
letter-spacing: 0.09px;
}
}
.recommentiion_film.extra {
    display: none;
    
}
.recommentiion_film.extras {
    display: none;
    margin-top: -180px;
}
#comment{
    margin-left: 30px;
    h4{
     @extend %h3;
font-feature-settings: 'clig' off, 'liga' off;

font-size: 18px;
line-height: 26px; /* 144.444% */
letter-spacing: 0.12px;
margin-top: 5px;
    }
    span{
        width: 795px;
      @extend %span;
font-size: 16px;
line-height: 24px; /* 150% */
letter-spacing: 0.08px;
    }
    .content .more-content {
        display: none;
      }
      
      .content .show-more {
        cursor: pointer;
        color:$violet_main_color;
        text-decoration:none;
      }
      
}
#cast{
    margin-left: 30px;
   h5{
    color: $grayscale-grayscale-10;

/* Large/Bold */
font-family: $default_font_family;
font-size: 18px;
font-style: $font_style;
font-weight: $font_weight;
line-height: 26px; /* 144.444% */
letter-spacing: 0.09px;
   }
   .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 5px;
    background: $black;
    display: flex;
    @include Flexible($justify:center,$items:center);
  }

  .swiper-slide img {
    display: block;
 @extend %main_imgpart;
  }
 .cast_list{
    display: flex;
    .cast_list_img{
        width: 68px;
height: 50px;
border-radius: 48px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }
    .cast_list_info{
        h3{
      @extend %h3;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: 0.08px;
        }
        p{
            @extend %span;
            color: $grayscale-grayscale-10;
line-height: 20px; /* 166.667% */
letter-spacing: 0.06px;
margin-top: -12px;
        }
    }
 }
}
#recommendation_list{
    margin-left: 70px;
    h3{
 @extend %h3;
font-size: 24px;
line-height: 32px; /* 133.333% */
letter-spacing: 0.12px;
    }
    .recommention_film_img{
        width: 236px;
height: 143px;
img{
   @extend %main_imgpart;
    border-radius: 16px;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
    }
    .recommentiion_film_info{
        h4{
 @extend %h3;
line-height: 24px; /* 150% */
letter-spacing: 0.08px;
        }
        svg{
            width: 18px;
height: 18px;
        }
        span{
         @extend %span;
font-weight: 600;
line-height: 20px; /* 166.667% */
letter-spacing: 0.06px;
        }
        b{
    @extend %span;
line-height: 20px; /* 166.667% */
letter-spacing: 0.06px;
        }
    }
    a{
        color: $violet_main_color;

       @extend %items;
font-size: 16px;

line-height: 24px; /* 150% */
letter-spacing: 0.08px;
padding: 10px;
margin-left: 90px;
text-decoration: none;

    }
}
 @media (max-width: 912px) {
    #film_items{
        display: none;

    }
    .swiper{
        width: 100%;
        display: flex;
        .swiper-slide{
            width: 100%;
        }
    }
    .col-9 {
        flex: 0 0 auto;
        width: 105%;
    }
    #card_items{
    display: none;
}
#action {
    margin-top: 30px;
    .action_part {
     margin: 20px;
     .action_movie{
         width: 140px;
         gap: 20px;
    }
}}
#films{
    margin-top: 380px;
}
#film_nav{
 display: none;
}
header {
    .navbar{
        display: block;
    }
    .nav_menu{
        
        position: fixed;
        left: -100%;
     
        gap: 0;
        flex-direction: column;
        background-color:$input_color;
        width: 100%;
        text-align: center;

        .nav_item{
            margin: 16px 0;
        }
        .nav_menu.active{
            left: 0;
        }
    }
    

.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(-8px) rotate(-45deg);
  }}
  #recommendation_list {
    display: none;
  }
  #recommend_info{
    display: flex;
    @include Flexible($justify:center,$items:center);
  }
  #rec_res {
   
        flex: 0 0 auto;
      width: 110%;
    
  }
 }
 .recommentiion_film.extra{
  button{
    width: 200px;
    height: 40px;
    margin: 30px;
    font-family: $default_font_family;
    color: $error;
    font-weight: $font_weight;
    font-size: 24px;
    border-radius: 20px;
    background-color: $black;
    border: 1px solid $error;
  }
 }
 