/* Gerekli stiller */
#drawer {
    position: fixed;
    top: 0;
    left: -300px; /* Drawer başlangıçta kapalı */
    width: 300px;
    height: 100%;
    background-color: #1A161F;
    color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.3s ease-in-out;
    padding-top: 20px;
}

#drawer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#drawer ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #3D354A;
}

#drawer ul li:last-child {
    border-bottom: none;
}

#drawer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    transition: 0.2s;
}

#drawer a:hover {
    color: #B43FEB;
}

#drawer.open {
    left: 0; /* Drawer açıldığında */
}
.custom-checkbox {
    display: inline-block;
    width: 20px; /* Dairevi checkbox'un boyutunu ayarlayabilirsiniz */
    height: 20px;
    background-color: #fff; /* Dairenin rengini istediğiniz gibi ayarlayabilirsiniz */
    border: 2px solid #000; /* Dairenin kenarlık rengini ve kalınlığını istediğiniz gibi ayarlayabilirsiniz */
    border-radius: 50%; /* Dairevi şekli burada belirliyoruz */
    cursor: pointer; /* İşaretçi el işareti şeklinde olacak */
  }
  
  #myCheckbox {
    display: none; /* Gerçek checkbox'u gizliyoruz */
  }
  
  #myCheckbox:checked + .custom-checkbox {
    background-color: #000; /* Seçildiğinde dairenin rengini değiştirebilirsiniz */
    border-color: #fff; /* Seçildiğinde kenarlık rengini değiştirebilirsiniz */
  }
  