#payment{
  margin-top: 5px;
  hr{
    width: 1439px;
height: 0px;
stroke-width: 1px;
stroke:$additional-colors-line-dark;
  }
    p{
        color: aliceblue;
        display: flex;
        margin: 8px;
        @include Flexible($items:center,$justify:center);
    }
 
    h3{
      color: $grayscale-grayscale-10;

/* Heading/H6/Bold */
font-family: $default_font_family;
font-size: 24px;
font-style: $font_style;
font-weight: 700;
line-height: 32px; /* 133.333% */
letter-spacing: 0.12px;
    }
    .payment1{
      display: flex;
width: 588px;
padding: 24px 403px 24px 16px;
align-items: center;
gap: 12px;
border-radius: 32px;
border: 1px solid $violet_main_color;
background:$additional-colors-dark-smooth;
margin: 10px;
color:$grayscale-grayscale-10;
font-family: $default_font_family;
font-size: 18px;
font-style: italic;
font-weight: $font_weight;
line-height: 24px; /* 133.333% */
svg{
  width: 17px;
  height: 20px;
}
    }
    .payment2{
      @extend .payment1;
      svg{
        width: 54px;
height: 24px;
flex-shrink: 0;
      }
    }
    b{
      color:$input_color;
  display: block;
  @extend %items;
font-size: 16px;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.08px;
margin-left: 15px;
    }
    .form_pa{
      margin-top: 30px;
      input{
        color: $grayscale-grayscale-10;
        margin: 10px;
        display: flex;
width: 588px;
height: 54px;
padding-left: 0px;
padding: 10px;
outline: none;
align-items: center;
border-radius: 24px;
border: 1px solid $additional-colors-line-dark;
background: $additional-colors-dark-smooth;
      }
      label{
        color: $grayscale-grayscale-70;
        display: flex;
align-items: flex-start;
margin-left: 15px;
      }
    }
    .payment_part{
      display: flex;
      margin-left: 10px;
      input[type="number"]{
     
width: 264px;
height: 54px;
padding-left: 0px;
align-items: center;
border-radius: $border_radius;
border: 1px solid $additional-colors-line-dark;
background:$additional-colors-dark-smooth;
      }
      input[type="text"]{
color: #F9F9F9;
outline: none;

width: 138px;
height: 54px;
padding: 10px;
align-items: center;
border-radius: $border_radius;
border: 1px solid $additional-colors-line-dark;
background:$additional-colors-dark-smooth;
      }
      label{
        display: flex;
        margin:10px;
      }
    }
    .input-group{
      display: block;
      width: 120%;
    }
    #cvv{
      margin-left: -10px;
    }
    #forcvv{
      @extend #cvv;
    }
    #subscribe{
    
height: 672px;
flex-shrink: 0;
background: $additional-colors-dark-smooth;

.text_payment{
 display: flex;
 justify-content: space-between;
   .text_main_part{
    p{
      color: $input_color;
  margin:16px;
font-family:$default_font_family;
font-size: 18px;
font-style: $font_style;
font-weight:$font_weight500;
line-height: 26px; 
letter-spacing: 0.09px;
    }
   }
   .text_cost_part{
    b{
      color: $grayscale-grayscale-10;
   margin: 20px;
font-family: $default_font_family;
font-size: 18px;
font-style: $font_style;
font-weight:$font_weight;
line-height: 26px; 
letter-spacing: 0.09px;
    }
   }

}
    }
    hr{
      width: 510px;
  height: 0px;
  stroke-width: 1px;
  stroke: $additional-colors-line-dark;
     }
     .h4{
      width: 427px;

display: flex;
h4{
  display: inline-flex;
  color: $grayscale-grayscale-70;
  @include Flexible($justify:center,$items:center);
  /* Small/Medium */
  font-family: $default_font_family;
  font-size: 14px;
  font-style: $font_style;
  font-weight:$font_weight500;
  line-height: 22px; 
  letter-spacing: 0.07px;
  margin-left: 70px;
}
     }
     .subscribe_button{
      button{
        display: flex;
    width: 427px;
    padding: 16px 40px;
    @include Flexible($justify:center,$items:center);
    border-radius: $border_radius;
    background:$violet_main_color;
    color: $grayscale-grayscale-10;
    font-family: $default_font_family;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 133.333% */
    letter-spacing: 0.09px;
    border: none;
    margin: 40px;
      }

      button:hover{
         background-color: $black;
         color: $violet_main_color;
         border: 1px solid $violet_main_color;
      }
    }
}


