$default_font_family: "Inter", sans-serif;
$grayscale-grayscale-70: #78828A;
$violet_main_color:#B43FEB;
$grayscale-grayscale-10:#F9F9F9;
$font_style:normal;
$font_weight:700;
$additional-colors-line-dark:#29282F;
$font_weight500:500;
$additional-colors-dark-smooth: #1A161F;
$grayscale-grayscale-30:#E3E9ED;
$border_radius:24px;
$input_color:#9CA4AB;
$padding:10px;
$outline:none;
$deceration:none;
$black:#000;
$grayscale-grayscale-100:#171725;
$font_weight600:600;
$border_none:none;
$grayscale-grayscale-40:#D1D8DD;
$error:#EB3F5E;
$bg_dark:#0D0C0F;
$fff:#FFFFFF;
$grayscale-grayscale-80:#66707A;
$alerts-warning:#FFCD1A;
$grayscale-grayscale-40:#D1D8DD;
$read_more:#007BFF;
